.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10rem 0;
}

.item {
  width: 700px;
  height: 250px;
  display: flex;
  align-items: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  margin: 30px;
  background-color: white;
}

.itemImg {
  width: 150px;
  margin: 0 50px;
}

.Item .description {
  width: 100%;
  font-size: 30px;
}

input {
  width: 40px;
  text-align: center;
  font-weight: bolder;
}

.btn {
  background-color: rgba(19, 44, 2, 0.9);
  color: beige;
  border: none;
  min-width: 100px;
  padding: 10px 15px;
  border-radius: 10px;
  margin-right: 15px;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(19, 44, 2);
  color: beige;
  cursor: pointer;
}
@media (max-width: 768px) {
  .item {
    width: 90%;
    max-width: 400px; /* Adjust maximum width for smaller screens */
    min-height: 200px; /* Adjust minimum height for smaller screens */
    flex-direction: row; /* Adjust flex-direction for smaller screens */
    align-items: center;
  }

  .itemImg {
    width: 100px;
    margin: 0 20px; /* Adjust margin for smaller screens */
  }

  .item .description {
    font-size: 1rem; /* Adjust font size for smaller screens */
  }
}
