/* ContactForm.css */

.formContainer {
  margin-top: 150px;
}

/* Form container styles */
.formInput {
  max-width: 400px;
  margin: 0 auto;
}

/* Form header styles */
.formInput > h2,
.formContainer > h2 {
  text-align: center;
  color: rgb(45, 58, 23);
}

/* Form input styles */
.formInput > label {
  display: block;
  margin-bottom: 8px;
  color: #333;
}

.formInput > input[type="text"],
.formInput > input[type="email"],
.formInput > textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.formInput > textarea {
  resize: vertical;
}

.submitButton {
  background-color: rgb(19, 44, 2);
  color: #fff;
  border: none;
  width: 100%;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}

.submitButton:hover {
  background-color: #0056b3;
}

@media (min-width: 577px) and (max-width: 991px) {
  /* Form input styles for medium screens */
  .formInput > input[type="text"],
  .formInput > input[type="email"],
  .formInput > textarea {
    font-size: 1.2rem; /* Adjust font size for medium screens */
  }

  /* Submit button styles for medium screens */
  .submitButton {
    font-size: 1.2rem; /* Adjust font size for medium screens */
  }
}

/* Media query for large screens (e.g., desktops) */
@media (min-width: 992px) {
  /* Form header styles for large screens */
  .formInput > h2,
  .formContainer > h2 {
    font-size: 2.5rem; /* Adjust font size for large screens */
    margin-bottom: 30px; /* Adjust bottom margin for large screens */
  }

  /* Form input styles for large screens */
  .formInput > input[type="text"],
  .formInput > input[type="email"],
  .formInput > textarea {
    font-size: 1.4rem; /* Adjust font size for large screens */
  }

  /* Submit button styles for large screens */
  .submitButton {
    font-size: 1.4rem; /* Adjust font size for large screens */
  }
}
