.shopTitle {
  margin-top: 100px;
  text-align: center;
  font-size: 40px;
}

.product {
  border-radius: 15px;
  width: 350px; /* Adjust width as needed */
  height: 600px; /* Adjust height as needed */
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
  overflow: hidden;
  text-align: center;
  background-color: white;
  font-size: 0.75rem;
}

.product p {
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden;
  text-overflow: ellipsis; /* Add ellipsis for text overflow */
}

.product .description {
  text-align: center;
}

.product img {
  max-width: 85%;
  height: 300px;
}

.shop-container {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
  gap: 20px;
}

.product:hover {
  transform: translateY(-5px); /* Apply a slight lift on hover */
  cursor: pointer;
}

.product > .addToCartBttn {
  background-color: rgba(19, 44, 2, 0.9);
  color: beige;
  border: none;
  min-width: 100px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}

.product > .addToCartBttn:hover {
  background-color: rgb(19, 44, 2);
  color: beige;
  cursor: pointer;
}
@media (max-width: 768px) {
  .product {
    width: 90%;
    max-width: 300px; /* Adjust maximum width for smaller screens */
    min-height: 350px; /* Adjust minimum height for smaller screens */
    margin: 10px 0; /* Adjust vertical margin for spacing */
  }

  .shop-container {
    grid-template-columns: 1fr; /* Switch to a single column layout for smaller screens */
  }
}
