/* Add media queries for responsiveness */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("https://serving.photos.photobox.com/526570518c92aeeedf71e1b4aef8a129bced61cc62e8c9c3f2674dc92451fef675243189.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container > h1 {
  color: rgba(19, 44, 2, 0.9);
  font-size: 8rem;
  font-family: Tangerine, sans-serif;
}

.shopButton {
  width: 200px;
  height: 60px;
  font-size: 1rem;
  background-color: rgba(19, 44, 2, 0.9);
  color: white;
  border: none;
  border-radius: 8px;
  margin: 20px 0;
  cursor: pointer;
}

.shopButton:hover {
  background-color: rgb(19, 44, 2);
}

/* Media query for smaller screens (e.g., mobile devices) */
@media (max-width: 768px) {
  .container > h1 {
    font-size: 3.5rem;
  }

  .shopButton {
    width: 150px;
    height: 50px;
    font-size: 1rem;
  }
}

@media screen and (max-width: 576px) {
  .container {
    position: relative;
  }
  .container > h1 {
    position: absolute;
    top: 0;
    margin-top: 6rem;
  }
}

/* For small devices */
@media screen and (max-width: 350px) {
}
